<div id="faq" class=" d-inline-block w-100">
  <!-- <img src="assets/images/coming-soon.png" class="img-responsive m-auto"> -->
  <div class="page-title my-3">
    <h2 class="title">FAQs</h2>
  </div>

  <div id="accordion my-5">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                What is Pomodoro Technique?
            </button>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
              The time management technique created by Francesco Cirillo for a	more productive way to work and study. For more information, 
              <a href="http://www.pomodorotechnique.com/">Click here</a>.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Can you tell me the story without having to visit the website?
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <p>Well, it comprises of the following basic steps:</p>
            <ul>
              <li>Decide on the task at hand</li>
              <li>Set the <strong>Pomodoro</strong> (timer) to 25 minutes</li>
              <li>Work on the task until the timer expires; Record with an X</li>
              <li>Take a <strong>Short Break</strong> (5 minutes)</li>
              <li>Every four "pomodoros", take a <strong>Long Break</strong> (10 minutes)</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Why use PomodoroTimer?
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <p>Here's Why:</p>
            <ul>
              <li>Clean and Crisp interface with a Mobile friendly layout.</li>
              <li>Audio notifications at the end of a timer period.</li>
              <li>Desktop notifications. (Only supported in Google Chrome)</li>
              <li>Ability to change the alert sound via Settings</li>
              <li>A history of your activity.</li>
              <li>Ability to Stop or Reset the timer intervals.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>