<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/images/nordicomm_logo.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav m-auto ">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link px-3"  routerLink="/timer">Timer</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link px-3" routerLink="/activities">Activity Log</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link px-3" routerLink="/documents">My Documents</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link px-3" routerLink="/faq">FAQ</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <div *ngIf="auth.user | async; then authenticated else guest">
              <!-- template will replace this div -->
      </div>

      <ng-template #guest>
        <li class="nav-item position-relative guest">
            <p class="text-light px-5 mt-1 mb-0"><span class="text-muted">Howdy Guest</span>  <br> Login to start</p>
            <img class="avatar rounded-circle position-absolute" [src]="'https://api.adorable.io/avatars/109/fire.png'" width=50px />
        </li>
      </ng-template>

      <ng-template #authenticated>
      <li class="nav-item dropdown-show position-relative">

        <div class="dropdown show" *ngIf="auth.user | async as user">
          <a class="btn profile-btn px-5 text-left" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img class="avatar rounded-circle" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px />
            <span class="text-muted">Welcome</span>
            <br> {{user.displayName}}
            <i class="fas fa-cog fa-lg"></i>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#" (click)="logout()" >Logout</a>
          </div>
        </div>
      </li>
      </ng-template>

    </ul>
  </div>
</nav>