<div id="main-nav" class="d-none d-lg-block d-xl-block">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.svg" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav m-auto ">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link p-3" (click)="nav('/timer',true)" routerLink="/timer">Timer</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link p-3" (click)="nav('/activities', false)" routerLink="/activities">Activity Log</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link p-3" (click)="nav('/documents', false)" routerLink="/documents">My Documents</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link p-3" (click)="nav('/faq', false)" routerLink="/faq">FAQ</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" *ngIf="auth.user | async as user">
          <a *ngIf="auth.isAdmin(user)" class="nav-link p-3" (click)="nav('/reports', false)" routerLink="/reports">Reports</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <div *ngIf="auth.user | async; then authenticated else guest">
          <!-- template will replace this div -->
        </div>

        <ng-template #guest>
          <li class="nav-item position-relative guest">
            <p class="text-light px-5 mt-1 mb-0">
              <span class="text-muted">Howdy Guest</span>
              <br> Login to start</p>
            <img class="avatar rounded-circle position-absolute" [src]="'https://api.adorable.io/avatars/109/fire.png'" width=40px />
          </li>
        </ng-template>

        <ng-template #authenticated>
          <li class="nav-item dropdown-show position-relative">

            <div class="dropdown show" *ngIf="auth.user | async as user">
              <a class="btn profile-btn px-5 text-left" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img class="avatar rounded-circle" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=40px />
                <span class="text-muted">Welcome</span>
                <br> {{user.displayName}}
                <span class="icon icon-cog"></span>
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" data-toggle="modal" data-target="#settingModal">Settings</a>
                <a class="dropdown-item" href="javascript:" (click)="logout()">Logout</a>
              </div>
            </div>
          </li>
        </ng-template>

      </ul>
    </div>
  </nav>

</div>

<!-- Collapse SideNavbar -->


<div id="left-navbar" class="d-block d-sm-block d-md-block d-lg-none d-xl-none">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" [ngClass]="{collapsed: collapseNav}">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.svg" />
    </a>
    <button class="navbar-toggler border-0" (click)="collapseNav = true" type="button">
      <i class="fas fa-align-right fa-lg"></i>
    </button>
  </nav>
  <div class="sidebar navbar-dark bg-dark text-center py-3" [ngClass]="{collapsed: collapseNav}">
    <p class="text-right px-3 pb-5 pt-3 m-0">
      <button type="button" class="close" (click)="collapseNav = false">
        <span aria-hidden="true">&times;</span>
      </button>
    </p>
    <div class="user-area" *ngIf="auth.user | async as user">
      <img class="avatar rounded-circle" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width="100" />
      <h4 class="mt-3 mb-5">{{user.displayName}}</h4>
    </div>

    <div class="user-area" *ngIf="!(auth.user | async)">
      <img class="avatar rounded-circle" [src]="'https://api.adorable.io/avatars/109/fire.png'" width="100" />
      <h4 class="mt-3 mb-5">Hello Guest</h4>
    </div>


    <ul class="m-auto list-unstyled">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/timer" (click)="collapseNav = false">Timer</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/activities" (click)="collapseNav = false">Activity Log</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/documents" (click)="collapseNav = false">My Documents</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/faq" (click)="collapseNav = false">FAQ</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="auth.user | async as user">
        <a *ngIf="auth.isAdmin(user)" class="nav-link" (click)="collapseNav = false" routerLink="/reports">Reports</a>
      </li>
    </ul>

    <div class="logout" *ngIf="auth.user | async">
      <!-- <button class="btn logout-btn" (click)="logout()">Logout</button> -->
      <a class="btn btn-default logout-btn" href="#" (click)="logout()">Logout</a>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="settingModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="container">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2>Options</h2>
          <div class="body my-4">
            <h4>Select Sound</h4>

            <select class="form-control" [(ngModel)]="soundSelected" (ngModelChange)="onChange($event)">
              <option ng-value="definite.mp3">Sound 1</option>
              <option ng-value="here_you_go_lighter.ogg">Sound 2</option>
              <option ng-value="knock_brush.ogg">Sound 3</option>
              <option ng-value="save_and_checkout.ogg">Sound 4</option>
            </select>
          </div>
          <div class="footer">
            <button class="btn btn-info" (click)="save()">SAVE</button>
            <button class="btn btn-info">RESET</button>
            <!-- <button class="btn btn-info">SAVE</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>