<div class="login-area text-center" *ngIf="!(auth.user | async)">

  <h3>Social Login</h3>

    <button (click)="signInWithGoogle()" class="btn btn-social btn-google text-uppercase my-3">
      <i class="fab fa-google-plus-g fa-lg" data-fa-transform="grow-6"></i>&nbsp; Sign-In with Google
    </button>

</div>
<!-- 
<div class="message" *ngIf="auth.user | async">
  <h4>Only users with nordicomm domain are allowed</h4>
</div> -->


<!-- <ng-template #alreadyLoggedIn>
  <p class="text-success">
    Already logged in!
  </p>
</ng-template> -->
