.timer{
    max-width: 762px;

    .nav-tabs{
        border-bottom: 0;

        .nav-link{
            border: 1px solid #dee2e6;
            padding: 5px 20px;
            color: #252525;
            font-size: 16px;
            line-height: 20px;

            &.active{
                // color: $primary-color;
            }
        }

    }
}