<div id="timer" class="align-content-center">
    <!-- Nav tabs -->
    <!-- <button (click)="notifySound('pomodoro')" >notify SOund</button> -->
    <div *ngIf="this.tm | async"  class="overlay align-middle">
        <div class="text">
            <h2 class="text-primary"><i class="fa fa-lock fa-lg"></i></h2>
            <p>Your timer is already in progress in other Location<br>
                Finish or stop that to continue here </p>
        </div>
    </div>
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pomodoro-tab" (click)="tabs(cd1)" data-toggle="tab" href="#pomodoro" role="tab" aria-controls="pomodoro"
                aria-selected="true">
                <!-- <i class="fas fa-stopwatch fa-lg"></i> -->
                <span class="icon pomodoro"></span>
                <span class="text d-none d-sm-inline-block"> Pomodoro</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="short-break-tab" (click)="tabs(cd2)" data-toggle="tab" href="#short-break" role="tab" aria-controls="short-break"
                aria-selected="false">
                <span class="icon short"></span>
                <span class="text d-none d-sm-inline-block"> Short Break</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="coffee-break-tab" (click)="tabs(cd3)" data-toggle="tab" href="#coffee-break" role="tab" aria-controls="coffee-break"
                aria-selected="false">
                <span class="icon coffee"></span>
                <span class="text d-none d-sm-inline-block"> Coffee Break</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="long-break-tab" (click)="tabs(cd4)" data-toggle="tab" href="#long-break" role="tab" aria-controls="long-break"
                aria-selected="false">
                <span class="icon long"></span>
                <span class="text d-none d-sm-inline-block"> Long Break</span>
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="pomodoro" role="tabpanel" aria-labelledby="home-tab">

            <form class="form" [formGroup]="pomodoroForm">
                <div class="row">
                    <div class="col-sm-8">
                        <span class="input input--hoshi">
                            <input class="input__field input__field--hoshi" type="text" id="task" formControlName="task" (focus)="inputFocus($event)"
                                (focusout)="inputFocusOut($event)" />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="task">
                                <span class="input__label-content input__label-content--hoshi">Task's Name</span>
                            </label>
                        </span>
                        <label *ngIf="pomodoroForm.get('task').invalid && processValidation" class="text-danger" [ngClass]="'error'"> Enter Task Name </label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control mb-4" formControlName="project">
                            <option disabled selected value class="d-none">Choose a Project </option>
                            <option *ngFor="let project of projects | async"  ng-value="(project.name)">{{project.name}}</option>
                        </select>
                        <label *ngIf="pomodoroForm.get('project').invalid && processValidation" class="text-danger" [ngClass]="'error'"> Please Choose A Project </label>
                    </div>
                </div>
            </form>
            <div class="stopwatch my-5 pb-3 text-center">
                <div class="row my-3">
                    <loading-spinner *ngIf="loadingSpinner" ></loading-spinner>
                    <countdown *ngIf="getCountDown | async"  #cd1 [config]="{leftTime: (countDown.pomodoro), className: 'pomodoro-timer', template: '$!m!:$!s!$!s-ext!',demand: true }"
                        (finished)="onFinishedPomodoro(cd1)"></countdown>
                </div>

                <div class="timer-btns row btn-group-vertical mt-4">
                    <button *ngIf="!toggleButtonTimer" (click)="begin(cd1)" class="btn btn-default btn-start mb-3">
                        <i class="fas fa-play"></i> Start</button>
                    <button *ngIf="toggleButtonTimer" class="btn btn-default btn-stop mb-3"
                        data-toggle="modal" data-target="#stopModal">
                        <i class="fas fa-stop"></i> Stop</button>
                    <button *ngIf="toggleButtonTimer" (click)="restart(cd1)" class="btn btn-default btn-reset mb-3">
                        <i class="fas fa-redo"></i> Reset</button>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="short-break" role="tabpanel" aria-labelledby="short-break-tab">
            <div class="stopwatch my-5 py-4 text-center">
                <div class="row my-3">
                    <countdown *ngIf="getCountDown | async" #cd2 [config]="{leftTime: (countDown.short), className: 'short-timer', template: '$!m!:$!s!$!s-ext!',demand: true}"
                        (finished)="onFinishedSB(cd2)" ></countdown>
                </div>

                <div class="timer-btns row btn-group-vertical mt-4">
                    <button *ngIf="!toggleButtonTimer" (click)="begin(cd2)" class="btn btn-default btn-start mb-3">
                        <i class="fas fa-play"></i> Start</button>
                    <button *ngIf="toggleButtonTimer" (click)="cd2.stop()" class="btn btn-default btn-stop mb-3">
                        <i class="fas fa-stop"></i> Stop</button>
                    <button *ngIf="toggleButtonTimer" (click)="restart(cd2)" class="btn btn-default btn-reset mb-3">
                        <i class="fas fa-redo"></i> Reset</button>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="coffee-break" role="tabpanel" aria-labelledby="coffee-break-tab">
            <div class="stopwatch my-5 py-4 text-center">
                <div class="row my-3">
                    <countdown *ngIf="getCountDown | async" #cd3 [config]="{leftTime: (countDown.coffee), className: 'coffee-timer', template: '$!m!:$!s!$!s-ext!',demand: true}"
                        (finished)="onFinishedCB(cd3)"></countdown>
                </div>

                <div class="timer-btns row btn-group-vertical mt-4">
                    <button *ngIf="!toggleButtonTimer" (click)="begin(cd3)" class="btn btn-default btn-start mb-3">
                        <i class="fas fa-play"></i> Start</button>
                    <button *ngIf="toggleButtonTimer" (click)="cd3.stop()" class="btn btn-default btn-stop mb-3">
                        <i class="fas fa-stop"></i> Stop</button>
                    <button *ngIf="toggleButtonTimer" (click)="restart(cd3)" class="btn btn-default btn-reset mb-3">
                        <i class="fas fa-redo"></i> Reset</button>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="long-break" role="tabpanel" aria-labelledby="long-break-tab">
            <div class="stopwatch my-5 py-4 text-center">
                <div class="row my-3">
                    <countdown *ngIf="getCountDown | async" #cd4 [config]="{leftTime: (countDown.long), className: 'long-timer', template: '$!m!:$!s!$!s-ext!',demand: true}"
                        (finished)="onFinishedLB(cd4)"></countdown>
                </div>

                <div class="timer-btns row btn-group-vertical mt-4">
                    <button *ngIf="!toggleButtonTimer" (click)="begin(cd4)" class="btn btn-default btn-start mb-3">
                        <i class="fas fa-play"></i> Start</button>
                    <button *ngIf="toggleButtonTimer" (click)="cd4.stop()" class="btn btn-default btn-stop mb-3">
                        <i class="fas fa-stop"></i> Stop</button>
                    <button *ngIf="toggleButtonTimer" (click)="restart(cd4)" class="btn btn-default btn-reset mb-3">
                        <i class="fas fa-redo"></i> Reset</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container footer py-4">
        <div class="row">
            <div class="col-md d-none d-lg-block d-xl-block">
                <h5 class="title pl-5 ">
                    <span class="icon icon-keyboard"></span>Keyboard Shortcuts</h5>
                <ul class="list-unstyled text pl-5 mt-3">
                    <li>
                        <strong>SPACE</strong> start or stop timer</li>
                    <li>
                        <strong>ALT + P</strong> Pomodoro</li>
                    <li>
                        <strong>ALT + S</strong> Short Break </li>
                    <li>
                        <strong>ALT + C</strong> CoffeeBreak</li>
                    <li>
                        <strong>ALT + L</strong> Long Break </li>
                </ul>
            </div>
            <div class="col-md">
                <h5 class="title pl-5">
                    <span class="icon icon-notification"></span>Notifications</h5>
                <div class="text pl-5 mt-3">
                    <p>Desktop Notifications are currently supported in Chrome, Firefox and Safari</p>
                    <div class="switch switch--horizontal">
                        
                        
                        <input id="radio-a" type="radio" name="first-switch" value="off" (change)="handleChange(1)" [(ngModel)]="notification_val"
                        />
                        <!-- <label for="radio-a">Off</label> -->
                        <input id="radio-b" type="radio" name="first-switch" value="on" (change)="handleChange(2)" [(ngModel)]="notification_val"
                        />
                        <!-- <label for="radio-b">On</label> -->
                        
                        <span class="toggle-outside">
                            <span class="toggle-inside"></span>
                        </span>
                        
                    </div>
                    <p class="notification-status value">{{notification_val}}</p>
                    
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="stopModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="my-5">The time you worked will be lost , it is recommended to complete the cycle. Are you sure??</h3>
                <div class="text-center">
                    <button class="btn btn-default btn-info px-4" data-dismiss="modal" aria-label="Close"  (click)="onStop(cd1)">YES</button>
                    <button class="btn btn-default btn-danger px-4" data-dismiss="modal" aria-label="Close" (click)="cd1.resume()">NO</button>
                </div>
            </div>
           
        </div>
    </div>
</div>

